<%- include("partials/header"); -%>
<div class="Home-container contact">
  <section id="about">
    <h1>About Us</h1>
    <p>
      Hello! I'm Tanya Gupta, a passionate full-stack developer with a love for
      creative projects and personal growth. As someone who thrives on exploring
      new ideas and technologies, I embarked on the journey of creating this
      journal website as a fun side project. Combining my technical skills with
      a deep interest in mindfulness and self-reflection, I envisioned a
      platform where individuals could explore the art of journaling as a means
      of personal development and expression. <br />Through this website, I
      aspire to provide a space for fellow enthusiasts to discover the
      transformative power of journaling and cultivate a more mindful,
      introspective way of living.
    </p>
    <p>
      Feel free to explore my portfolio
      <a href="link_to_your_portfolio">here</a>.
    </p>
  </section>

  <section id="contact">
    <h1>Contact Us</h1>
    <p>
      Feel free to reach out to me at
      <a href="mailto:itstanya7777@gmail.com">itstanya7777@gmail.com</a> for any
      inquiries, collaborations, or feedback. Additionally, you can explore my
      projects and contributions on
      <a href="https://github.com/TANYA03GUPTA">GitHub</a>.
    </p>
  </section>
</div>

<%- include("partials/footer"); -%>
